* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(to right, rgb(42, 140, 238), rgb(108, 177, 241));
  margin-bottom: 10%;
}

.title {
  color: white;
  font-size: 3rem;
}

main {
  padding: 0 5%;
}

.period-controllers {
  margin-bottom: 10%;
  padding: 5% 2.5%;
  box-shadow: 0 5px 5px 2px #ddd;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.period-controller {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #aaa;
  padding: 0.2rem 0.8rem;
  border: transparent solid 2px;
  border-radius: 10px;
}

.period-controller.active {
  border-color: rgb(42, 140, 238);
  color: rgb(42, 140, 238);
  /* outline: none; */
}

.wrapper-chart {
  width: 100%;
  margin-bottom: 15%;
}

.currency-controllers {
  font-size: 2rem;
  text-align: center;
  padding: 5% 2.5%;
  box-shadow: 0 5px 5px 2px #ddd;
  border-radius: 10px;
}

.currency-controllers .wrapper-controller:not(:last-of-type) {
  margin-bottom: 2rem;
}

.currency-controllers label {
  margin-right: 0.2rem;
}

.currency-controllers select {
  font-size: 1.5rem;
  padding: 2px 5px;
  border: rgb(42, 140, 238) solid 2px;
  border-radius: 10px;
  background-color: #fff;
}

.period-controller:hover,
.currency-controllers select:hover {
  cursor: pointer;
}

@media (min-width: 530px) {
  header {
    margin-bottom: 5%;
    padding: 25px 0;
  }

  .title {
    font-size: 3.5rem;
  }

  .period-controller {
    font-size: 1.75rem;
    padding: 0.3rem 1.5rem;
  }

  .currency-controllers {
    font-size: 2.25rem;
  }

  .currency-controllers label {
    margin-right: 0.5rem;
  }

  .currency-controllers select {
    padding: 3px 10px;
    font-size: 1.75rem;
  }
}

@media (min-width: 740px) {
  .title {
    font-size: 4rem;
  }

  .period-controller {
    font-size: 2rem;
    padding: 0.4rem 1.75rem;
  }

  .wrapper-chart {
    margin-bottom: 10%;
  }

  .currency-controllers {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  header {
    margin-bottom: 3%;
  }

  main {
    padding: 0 20%;
  }

  .period-controllers {
    margin-bottom: 7.5%;
  }

  .wrapper-chart {
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .period-controllers {
    margin-bottom: 5%;
    padding: 3% 2.5%;
  }

  .wrapper-chart {
    margin-bottom: 3%;
  }

  .currency-controllers {
    padding: 3% 2.5%;
  }
}

@media (min-width: 1400px) {
  .period-controllers {
    margin-bottom: 7%;
  }
  .wrapper-chart {
    margin-bottom: 7%;
  }
}

@media (min-width: 1900px) {
  main {
    padding: 0 25%;
  }
}
